/*00000, 002e1f, 111c18, 636464, cbd4d1*/
html {
    background-color: #636464;
}

a {
    text-decoration: none;
}

header {
    background-color: #002e1f;
    color: #cbd4d1;
    text-align: center;
}

main {
    color: #111c18;
    font-size: 30px;
    margin: 30px;

}

footer {
    background-color: #cbd4d1;
    text-align: center;
    padding: 10px;
    height: 60px;
}

.button {
    color: #cbd4d1;
    background-color:  #636464;
    padding: 5px;
}
